body, html{
    height: 92vh;
  }
  
  /* Main Page */
  .source
  {
     padding: 10px;
  }
  
  .source input
  {
    margin: 5px;
  }
  
  .source label
  {
    margin: 5px;
  }
  
  .source1
  {
    display: table;
    padding: 10px;
  }
  
  #inner1 {
    float:left;
    padding: 10px; 
  }
  
  #inner2{
    float:left; 
    clear: left;
    padding: 10px;
  }
  
  .main-section
  { 
    /* background-image:url(../public/mainimg.jpg) ; */
        /* Full height */
    /* height: 92vh;  */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .main-button
  {
    width: 100px;
    margin-left: 15px;
  }
  .headingOne
  {
  
    font-weight: bolder;
  }
  
  .mapdiv
  {
    margin-top: 80px;
  }
  
  .mapimg
  {
    margin-top: 30px;
    border: 4px solid black;
  }
  .maph1
  {
    font-weight: bolder;
  }
  
  
  /* .select1{
    border: 0.1px solid black;
  } */
  
  
  /* Registration Form */
  
  /* body{
      background: #bdc3c7;  /* fallback for old browsers */
      /* background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  Chrome 10-25, Safari 5.1-6 */
      /* background: linear-gradient(to right, #2c3e50, #bdc3c7); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* } */ 
  
  .form{
     background-color: white;
      border-radius: 5px;
      width: 550px;
      margin: 20px auto;
      padding: 20px;
      /* height: 600px; */
  }
  
  .form-body{
      text-align: left;
      padding: 20px 10px;
  }
  
  .form-body > *{
      padding: 5px;
  }
  
  .form__label{
      width: 40%;
  }
  
  .form_input{
      width: 60%;
  }
  
  .footer{
      text-align: center;
  }
  
  .fare-table
  {
    
    background-color: grey;
  }
  
  /* LoginForm */
  .app {
      /* font-family: sans-serif; */
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      height: 100vh;
      /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
      background-color: #f8f9fd;
    }
    
    input[type="text"],
    input[type="password"] {
      height: 25px;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
    
    input[type="submit"] {
      margin-top: 10px;
      cursor: pointer;
      font-size: 15px;
      background: #01d28e;
      border: 1px solid #01d28e;
      color: #fff;
      padding: 10px 20px;
    }
    
    input[type="submit"]:hover {
      background: #6cf0c2;
    }
    
    .button-container {
      display: flex;
      justify-content: center;
    }
    
    .login-form {
      background-color: white;
      padding: 2rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .list-container {
      display: flex;
    }
    
    .error {
      color: red;
      font-size: 12px;
    }
    
    .title {
      font-size: 25px;
      margin-bottom: 20px;
    }
    
    .input-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin: 10px;
    }
  
  
  
  
    /* New Register */
  
    .newregister
    {
     
      background-image: url(../public/mainimg.jpg);
      height: 92vh; 
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
  
    /* NewLogin */
    
    .newlogin
    {
      background-image: url(../public/mainimg.jpg);
      height: 92vh; 
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
    }
  
    #bgvid {
      object-fit: cover;
      width: 100vw;
      height: 100vh;
      position: absolute;
     
      left: 0;
    }
  
  
  
  
  
  